<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Job_seeker"
        android:usesCleartextTraffic="true"
        android:windowIsTranslucent="true"
        android:windowSoftInputMode="stateAlwaysVisible"
        tools:targetApi="31">

        <activity
            android:name=".seeker.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".seeker.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".auth.PreviousLoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.Activity_Profile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.Activity_ChangePassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".seeker.ApplyJobActivity" />
        <activity android:name=".seeker.JobDetailActivity" />
        <activity android:name=".employer.StatisticalJobActivity" />
        <activity android:name=".seeker.SeekerMainActivity" />
        <activity android:name=".employer.RecruitmentDetailActivity" />
        <activity android:name=".employer.ListCVActivity" />
        <activity android:name=".employer.EditRecruitmentActivity" />
        <activity
            android:name=".auth.SetNewPassword"
            android:exported="false"
            android:parentActivityName=".auth.ConfirmOTP">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.ConfirmOTP"
            android:exported="false"
            android:parentActivityName=".auth.ForgotActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.ForgotActivity"
            android:exported="false"
            android:parentActivityName=".auth.LoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:label="Đăng Ký"
            android:parentActivityName=".auth.LoginActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".employer.EmployerMainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".message.activity.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".message.activity.UserActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".message.activity.MessageFragment"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".message.firebase.MessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>